### Demographic Group Performance
1. How do male and female students compare in proficiency rates across all subjects?
2. Which racial/ethnic group has the highest mean scores in Math?
3. Are there significant differences in proficiency rates for students with disabilities versus general education students?
4. What percentage of economically disadvantaged students scored proficient in Science?
5. How do proficiency rates for migrant students compare to non-migrant students?

#### How do male and female students compare in proficiency rates across all subjects?

In [2]:
import pandas as pd

In [4]:
# Load datasets
data_ela = pd.read_excel(r'E:\Data Analytics\NYSE Report Card\Annual_EM_ELA.xlsx')

In [10]:
data_math = pd.read_excel(r'E:\Data Analytics\NYSE Report Card\Annual_EM_MATH.xlsx')

In [12]:
data_science = pd.read_excel(r'E:\Data Analytics\NYSE Report Card\Annual_EM_SCIENCE.xlsx')

In [14]:
# Combine data from all subjects
data_ela["PER_PROF"] = pd.to_numeric(data_ela["PER_PROF"], errors='coerce')
data_math["PER_PROF"] = pd.to_numeric(data_math["PER_PROF"], errors='coerce')
data_science["PER_PROF"] = pd.to_numeric(data_science['PER_PROF'], errors='coerce')

In [16]:
all_subjects = pd.concat([data_ela, data_math, data_science])

In [18]:
all_subjects.head()

,INSTITUTION_ID,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,SUBGROUP_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,...,LEVEL3_COUNT,LEVEL3_%TESTED,LEVEL4_COUNT,LEVEL4_%TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE,LEVEL5_COUNT,LEVEL5_%TESTED
0,NaN,1,High Need/Resource Category: New York City Dis...,2023,ELA6,All Students,59583.0,7757.0,13.0,51826,...,13675,26,11145,22,24820,48.0,23158709,447,NaN,NaN
1,NaN,1,High Need/Resource Category: New York City Dis...,2023,ELA8,All Students,64216.0,10495.0,16.0,53721,...,17832,33,14404,27,32236,60.0,24395380,454,NaN,NaN
2,NaN,1,High Need/Resource Category: New York City Dis...,2023,ELA7,All Students,61290.0,7945.0,13.0,53345,...,15806,30,11770,22,27576,52.0,24011358,450,NaN,NaN
3,NaN,1,High Need/Resource Category: New York City Dis...,2023,ELA4,All Students,59370.0,8517.0,14.0,50853,...,14750,29,11997,24,26747,53.0,22905513,450,NaN,NaN
4,NaN,1,High Need/Resource Category: New York City Dis...,2023,ELA3_8,All Students,364609.0,52408.0,14.0,312201,...,92879,30,68728,22,161607,52.0,NaN,NaN,NaN,NaN

In [20]:
# Filter data for male and female students and ensure PER_PROF is numeric
male_data = all_subjects[all_subjects["SUBGROUP_NAME"] == "Male"]
female_data = all_subjects[all_subjects["SUBGROUP_NAME"] == "Female"]

In [22]:
print(male_data)
print(female_data)

        INSTITUTION_ID     ENTITY_CD  \
77                 NaN             1
78                 NaN             1
79                 NaN             1
80                 NaN             1
81                 NaN             1
...                ...           ...
162086    8.000000e+11  680601060005
162108    8.000000e+11  680801040000
162109    8.000000e+11  680801040000
162137    8.000000e+11  680801040001
162153    8.000000e+11  680801040002

                                              ENTITY_NAME  YEAR  \
77      High Need/Resource Category: New York City Dis...  2023
78      High Need/Resource Category: New York City Dis...  2023
79      High Need/Resource Category: New York City Dis...  2023
80      High Need/Resource Category: New York City Dis...  2023
81      High Need/Resource Category: New York City Dis...  2023
...                                                   ...   ...
162086                         PENN YAN ELEMENTARY SCHOOL  2024
162108                                         DUNDEE CSD  2024
162109                                         DUNDEE CSD  2024
162137                   DUNDEE JUNIOR-SENIOR HIGH SCHOOL  2024
162153                           DUNDEE ELEMENTARY SCHOOL  2024

       ASSESSMENT_NAME SUBGROUP_NAME  TOTAL_COUNT  NOT_TESTED  PCT_NOT_TESTED  \
77                ELA6          Male      30802.0      4498.0            15.0
78                ELA8          Male      33462.0      5725.0            17.0
79                ELA7          Male      31949.0      4465.0            14.0
80                ELA4          Male      30939.0      4942.0            16.0
81                ELA3          Male      30197.0      5268.0            17.0
...                ...           ...          ...         ...             ...
162086        Science5          Male         28.0         1.0             4.0
162108        Science8          Male         25.0         4.0            16.0
162109        Science5          Male         28.0         2.0             7.0
162137        Science8          Male         25.0         4.0            16.0
162153        Science5          Male         27.0         2.0             7.0

        NUM_TESTED  ...  LEVEL3_COUNT LEVEL3_%TESTED LEVEL4_COUNT  \
77           26304  ...          6463             25         4791
78           27737  ...          8652             31         6524
79           27484  ...          7536             27         4894
80           25997  ...          7255             28         5420
81           24929  ...          6893             28         3939
...            ...  ...           ...            ...          ...
162086          27  ...             7             26            0
162108          21  ...             6             29            0
162109          26  ...             1             04            0
162137          21  ...             6             29            0
162153          25  ...             1             04            0

       LEVEL4_%TESTED NUM_PROF PER_PROF TOTAL_SCALE_SCORES MEAN_SCORE  \
77                 18    11254     43.0           11671054        444
78                 24    15176     55.0           12516675        451
79                 18    12430     45.0           12270902        446
80                 21    12675     49.0           11647225        448
81                 16    10832     43.0           11070446        444
...               ...      ...      ...                ...        ...
162086             00        7     26.0              11840        439
162108             00        6     29.0               9325        444
162109             00        1      4.0              10936        421
162137             00        6     29.0               9325        444
162153             00        1      4.0              10503        420

       LEVEL5_COUNT LEVEL5_%TESTED
77              NaN            NaN
78              NaN            NaN
79              NaN            NaN
80              NaN            NaN
81              NaN            NaN
...             ...            ...
162086          NaN            NaN
162108          NaN            NaN
162109          NaN            NaN
162137          NaN            NaN
162153          NaN            NaN

[75353 rows x 25 columns]
        INSTITUTION_ID     ENTITY_CD  \
47                 NaN             1
48                 NaN             1
49                 NaN             1
50                 NaN             1
51                 NaN             1
...                ...           ...
162082    8.000000e+11  680601060005
162103    8.000000e+11  680801040000
162104    8.000000e+11  680801040000
162134    8.000000e+11  680801040001
162151    8.000000e+11  680801040002

                                              ENTITY_NAME  YEAR  \
47      High Need/Resource Category: New York City Dis...  2023
48      High Need/Resource Category: New York City Dis...  2023
49      High Need/Resource Category: New York City Dis...  2023
50      High Need/Resource Category: New York City Dis...  2023
51      High Need/Resource Category: New York City Dis...  2023
...                                                   ...   ...
162082                         PENN YAN ELEMENTARY SCHOOL  2024
162103                                         DUNDEE CSD  2024
162104                                         DUNDEE CSD  2024
162134                   DUNDEE JUNIOR-SENIOR HIGH SCHOOL  2024
162151                           DUNDEE ELEMENTARY SCHOOL  2024

       ASSESSMENT_NAME SUBGROUP_NAME  TOTAL_COUNT  NOT_TESTED  PCT_NOT_TESTED  \
47                ELA6        Female      28776.0      3259.0            11.0
48                ELA8        Female      30740.0      4765.0            16.0
49                ELA7        Female      29334.0      3479.0            12.0
50                ELA4        Female      28429.0      3575.0            13.0
51                ELA3        Female      28248.0      3824.0            14.0
...                ...           ...          ...         ...             ...
162082        Science5        Female         39.0         1.0             3.0
162103        Science8        Female         17.0         1.0             6.0
162104        Science5        Female         20.0         1.0             5.0
162134        Science8        Female         17.0         1.0             6.0
162151        Science5        Female         20.0         1.0             5.0

        NUM_TESTED  ...  LEVEL3_COUNT LEVEL3_%TESTED LEVEL4_COUNT  \
47           25517  ...          7210             28         6353
48           25975  ...          9177             35         7875
49           25855  ...          8268             32         6873
50           24854  ...             s              s            s
51           24424  ...          7246             30         5640
...            ...  ...           ...            ...          ...
162082          38  ...            14             37            1
162103          16  ...             5             31            0
162104          19  ...             4             21            0
162134          16  ...             5             31            0
162151          19  ...             4             21            0

       LEVEL4_%TESTED NUM_PROF PER_PROF TOTAL_SCALE_SCORES MEAN_SCORE  \
47                 25    13563     53.0           11485383        450
48                 30    17052     66.0           11874475        457
49                 27    15141     59.0           11737627        454
50                  s        s      NaN                  s          s
51                 23    12886     53.0           10982252        450
...               ...      ...      ...                ...        ...
162082             03       15     39.0              16815        443
162103             00        5     31.0               7023        439
162104             00        4     21.0               8139        428
162134             00        5     31.0               7023        439
162151             00        4     21.0               8139        428

       LEVEL5_COUNT LEVEL5_%TESTED
47              NaN            NaN
48              NaN            NaN
49              NaN            NaN
50              NaN            NaN
51              NaN            NaN
...             ...            ...
162082          NaN            NaN
162103          NaN            NaN
162104          NaN            NaN
162134          NaN            NaN
162151          NaN            NaN

[74595 rows x 25 columns]

In [24]:
male_data["PER_PROF"] = pd.to_numeric(male_data["PER_PROF"], errors="coerce")
female_data["PER_PROF"] = pd.to_numeric(female_data["PER_PROF"], errors="coerce")

C:\Users\Hp\AppData\Local\Temp\ipykernel_13924\1211483314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_data["PER_PROF"] = pd.to_numeric(male_data["PER_PROF"], errors="coerce")
C:\Users\Hp\AppData\Local\Temp\ipykernel_13924\1211483314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_data["PER_PROF"] = pd.to_numeric(female_data["PER_PROF"], errors="coerce")

In [26]:
# Calculate mean proficiency rates
male_proficiency = male_data["PER_PROF"].mean()
female_proficiency = female_data["PER_PROF"].mean()

In [28]:
print(f"Male Proficiency Rate: {male_proficiency:.2f}%")
print(f"Female Proficiency Rate: {female_proficiency:.2f}%")

Male Proficiency Rate: 45.72%
Female Proficiency Rate: 48.25%

#### Which racial/ethnic group has the highest mean scores in Math?

In [32]:
data_math.head()

,INSTITUTION_ID,ENTITY_CD,ENTITY_NAME,YEAR,ASSESSMENT_NAME,SUBGROUP_NAME,TOTAL_COUNT,NOT_TESTED,PCT_NOT_TESTED,NUM_TESTED,...,LEVEL3_COUNT,LEVEL3_%TESTED,LEVEL4_COUNT,LEVEL4_%TESTED,LEVEL5_COUNT,LEVEL5_%TESTED,NUM_PROF,PER_PROF,TOTAL_SCALE_SCORES,MEAN_SCORE
0,NaN,1,High Need/Resource Category: New York City Dis...,2023,MATH5,All Students,61807.0,6791.0,11.0,55016,...,17055,31,10749,20,NaN,NaN,27804,51.0,24863453,452
1,NaN,1,High Need/Resource Category: New York City Dis...,2023,MATH3_8,All Students,365267.0,41489.0,11.0,323778,...,99978,31,61339,19,5700,02,167017,52.0,NaN,NaN
2,NaN,1,High Need/Resource Category: New York City Dis...,2023,Combined6Math,All Students,59693.0,6311.0,11.0,53382,...,15841,30,8484,16,0,00,24325,46.0,NaN,NaN
3,NaN,1,High Need/Resource Category: New York City Dis...,2023,RegentsMath7,All Students,NaN,NaN,NaN,247,...,85,34,45,18,78,32,208,84.0,NaN,NaN
4,NaN,1,High Need/Resource Category: New York City Dis...,2023,Combined8Math,All Students,64326.0,8072.0,13.0,56254,...,16396,29,8698,15,5622,10,30716,55.0,NaN,NaN

In [34]:
# Filter Math data and ensure MEAN_SCORE is numeric
data_math["MEAN_SCORE"] = pd.to_numeric(data_math["MEAN_SCORE"], errors="coerce")

In [36]:
# Group by racial/ethnic subgroup and calculate mean scores
race_ethnicity_math = data_math.groupby("SUBGROUP_NAME")["MEAN_SCORE"].mean()

In [38]:
# Find the group with the highest mean score
top_group = race_ethnicity_math.idxmax()
top_score = race_ethnicity_math.max()

In [40]:
print(f"Highest Mean Score in Math: {top_group} with {top_score:.2f}")

Highest Mean Score in Math: Asian or Native Hawaiian/Other Pacific Islander with 466.93

#### Are there significant differences in proficiency rates for students with disabilities versus general education students?

In [44]:
all_subjects['SUBGROUP_NAME']

0                                All Students
1                                All Students
2                                All Students
3                                All Students
4                                All Students
                         ...
162159                            Not Migrant
162160             Parent Not in Armed Forces
162161    Small Group Total: Race & Ethnicity
162162             Students with Disabilities
162163                                  White
Name: SUBGROUP_NAME, Length: 1480396, dtype: object

In [46]:
# Filter data for students with disabilities and general education students
disabilities_data = all_subjects[all_subjects["SUBGROUP_NAME"] == "Students with Disabilities"]
general_ed_data = all_subjects[all_subjects["SUBGROUP_NAME"] == "General Education Students"]

In [48]:
disabilities_data["PER_PROF"] = pd.to_numeric(disabilities_data["PER_PROF"], errors="coerce")
general_ed_data["PER_PROF"] = pd.to_numeric(general_ed_data["PER_PROF"], errors="coerce")

C:\Users\Hp\AppData\Local\Temp\ipykernel_13924\3751204605.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  disabilities_data["PER_PROF"] = pd.to_numeric(disabilities_data["PER_PROF"], errors="coerce")
C:\Users\Hp\AppData\Local\Temp\ipykernel_13924\3751204605.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_ed_data["PER_PROF"] = pd.to_numeric(general_ed_data["PER_PROF"], errors="coerce")

In [50]:
# Calculate mean proficiency rates
disabilities_proficiency = disabilities_data["PER_PROF"].mean()
general_ed_proficiency = general_ed_data["PER_PROF"].mean()

In [52]:
difference = abs(disabilities_proficiency - general_ed_proficiency)

In [54]:
print(f"Students with Disabilities Proficiency Rate: {disabilities_proficiency:.2f}%")
print(f"General Education Students Proficiency Rate: {general_ed_proficiency:.2f}%")
print(f"Difference: {difference:.2f}%")

Students with Disabilities Proficiency Rate: 18.78%
General Education Students Proficiency Rate: 52.03%
Difference: 33.24%

#### What percentage of economically disadvantaged students scored proficient in Science?

In [58]:
# Filter Science data for economically disadvantaged students
econ_disadv_science = data_science[data_science["SUBGROUP_NAME"] == "Economically Disadvantaged"]

In [60]:
econ_disadv_science["PER_PROF"] = pd.to_numeric(econ_disadv_science["PER_PROF"], errors="coerce")

C:\Users\Hp\AppData\Local\Temp\ipykernel_13924\4091465378.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  econ_disadv_science["PER_PROF"] = pd.to_numeric(econ_disadv_science["PER_PROF"], errors="coerce")

In [62]:
# Calculate mean proficiency rate
econ_disadv_science_proficiency = econ_disadv_science["PER_PROF"].mean()

In [64]:
print(f"Economically Disadvantaged Students Proficiency Rate in Science: {econ_disadv_science_proficiency:.2f}%")

Economically Disadvantaged Students Proficiency Rate in Science: 33.16%

#### How do proficiency rates for migrant students compare to non-migrant students?

In [68]:
# Filter data for migrant and non-migrant students
migrant_data = all_subjects[all_subjects["SUBGROUP_NAME"] == "Migrant"]
non_migrant_data = all_subjects[all_subjects["SUBGROUP_NAME"] == "Not Migrant"]

In [70]:
migrant_data["PER_PROF"] = pd.to_numeric(migrant_data["PER_PROF"], errors="coerce")
non_migrant_data["PER_PROF"] = pd.to_numeric(non_migrant_data["PER_PROF"], errors="coerce")

C:\Users\Hp\AppData\Local\Temp\ipykernel_13924\328532125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  migrant_data["PER_PROF"] = pd.to_numeric(migrant_data["PER_PROF"], errors="coerce")
C:\Users\Hp\AppData\Local\Temp\ipykernel_13924\328532125.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_migrant_data["PER_PROF"] = pd.to_numeric(non_migrant_data["PER_PROF"], errors="coerce")

In [72]:
# Calculate mean proficiency rates
migrant_proficiency = migrant_data["PER_PROF"].mean()
non_migrant_proficiency = non_migrant_data["PER_PROF"].mean()

In [74]:
print(f"Migrant Students Proficiency Rate: {migrant_proficiency:.2f}%")
print(f"Non-Migrant Students Proficiency Rate: {non_migrant_proficiency:.2f}%")

Migrant Students Proficiency Rate: 15.30%
Non-Migrant Students Proficiency Rate: 47.32%